//All Preset color variables are here
$primary-font: 'Poppins', sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;
$letter-spacing: 0px;

 // Red
 $red: #E91E63;
 
//Current Preset Declareation
 $preset:  $red;