/* Conact Home Page Section */
#contact{
	background: #111111;
}
#conatiner-map{
	width: 100%;
	height: 630px;
}
.title-forme{
	font-size: 28px;
    margin-bottom: 20px;
}
.contact-item{
	position: relative;
	text-align: center;
	i{
	    width: 70px;
	    height: 70px;
	    display: inline-block;
	    line-height: 70px;
	    font-size: 24px;
	    text-align: center;
	    margin-bottom: 30px;
	    background: #2d2d2d;
	    color: #fff;
	    border-radius: 4px;
	    -webkit-transition: .3s all;
	    -o-transition: .3s all;
	    transition: .3s all;
	}
	.contact-info{
		h3{
			color: $preset;
			font-size: 18px;
		    margin-bottom: 10px;
		}
		p{
			color: #fff;
		}
	}
}

/* Subscribe Form */
.subscribe-inner{
	padding: 80px 0;
    box-shadow: 1px 3px 20px rgba(0,0,0,0.2);
	background: url(../img/background/newsletter.jpg);
    text-align: center;
    .subscribe-title{
    	font-size: 36px;
    	margin-bottom: 30px;
    }
    p{
    	color: #888;
    	margin-bottom: 30px;
    }
    .form-control{
    	position: relative;
	    background: #fff;
	    border: 1px solid #f1f1f1;
	    border-radius: 4px;
	    box-shadow: none;
	    color: #888999;
	    height: 43px;
	    padding: 0 52px;
	    margin: 0;
	    width: 67%;
	    margin: 0 20px;
    }
    .form-control:focus{
		color: #333;
	    background-color: #fff;
	    border-color: $preset;
	    outline: 0;
	}
    .form-inline{
    	position: relative;
    	margin-bottom: 30px;
    	margin: 0 auto;
    	width: 75%;
    }
	.icon-s{
		    position: absolute;
		    top: 13px;
		    left: 36px;
	    i{
	    	font-size: 20px;
	    }
	}
}

/* Contact Forme */
#google-map-area{
	position: relative;
	.container-fluid{
		padding-left: 0;
		padding-right: 0;
	}
}
.contact-map{
	position: relative;
	.map-wrapper{
		position: relative;
		margin-bottom: -10px;
	}
	.container-form{
		position: absolute;
		top: -630px;
		width: 450px;
		left: 0%;
		padding: 40px 15px;
		margin-left: -15px;
		z-index: 99;
	    .form-wrapper{
	    	background-color: white;
		    padding: 20px 25px;
		    box-shadow: 0 0 20px rgba(0,0,0,0.2);
	    }
	}
	.form-control{
		display: block;
	    width: 100%;
	    padding: .5rem .75rem;
	    font-size: 1rem;
	    line-height: 1.25;
	    color: #333;
	    background-color: #fff;
	    background-image: none;
	    background-clip: padding-box;
	    border: 1px solid #f1f1f1;
	    border-radius: .25rem;
	}
	.form-control:focus{
		color: #333;
	    background-color: #fff;
	    border-color: $preset;
	    outline: 0;
	}
}
.list-unstyled{
	li{
		margin-top: 10px;
		color: #dc3545!important;
	}
}
.text-danger {
    margin-top: 20px;
    font-size: 18px;
}
// Contact Page
.heading{
	margin-bottom: 30px;
}
.form-control{
	display: block;
    width: 100%;
    line-height: 26px;
    font-size: 14px;
    box-shadow: none;
    color: #848484;
    text-transform: capitalize;
    background: #ffffff;
    padding: 7px 19px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.form-control:focus{
    border-color: $preset;
    outline: 0;
}

.pagination{
	.page-item{
		.page-link{
			margin: 3px;
			padding: 15px 20px;
			color: $preset;
			background: #fff;
			&:hover{
				background: $preset;
				color: #fff;
			}
		}
	}
}






