/* Schedule Area */
#schedule-tab{
	position: relative;
}
.schedule{
	.schedule-area{
		background: #ffffff;
		padding: 30px;
		border-radius: 5px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	}
	.schedule-tab-title{
		margin-bottom: 35px;
		.nav-tabs .nav-link{
			border-radius: 0px;
			position: relative;
		    cursor: pointer;
		    height: 100px;
		    width: 211px;
		    margin-left: -1px;
		    border: 1px solid #e5e5e5;
		    transition: all 500ms ease;
		}
		.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,
		.nav-tabs .nav-item .nav-link:hover{
		    background: $preset;
		    border: 1px solid $preset;
		    transition: all 0.3s ease-in-out 0s;
		    -moz-transition: all 0.3s ease-in-out 0s;
		    -webkit-transition: all 0.3s ease-in-out 0s;
		    -o-transition: all 0.3s ease-in-out 0s;
		    h4{
			    color: #fff;
			}
			h5{
			    color: #fff;
			}
			&:before{
				content: '';
			    position: absolute;
			    left: 13%;
			    bottom: -24px;
				border-width: 12px;
			    border-style: solid;
		    	transition: all 0.3s ease-in-out 0s;
		    	-moz-transition: all 0.3s ease-in-out 0s;
		    	-webkit-transition: all 0.3s ease-in-out 0s;
		    	-o-transition: all 0.3s ease-in-out 0s;
			    border-color: $preset transparent transparent transparent;
			}
		}
		.item-text{
			padding-left: 65px;
    		padding-top: 15px;
			i{
				position: absolute;
			    top: 25px;
			    left: 15px;
			    display: inline-block;
			    font-size: 20px;
			    width: 50px;
			    height: 50px;
			    line-height: 50px;
			    color: #676970;
			    text-align: center;
			    background: #ebebeb;
			    border-radius: 50%;
			    transition: all 500ms ease;
			}
			h4{
				font-size: 15px;
			    color: #2f323c;
			    line-height: 22px;
			    font-weight: $regular;
			    text-transform: uppercase;
			}
			h5{
				font-size: 14px;
			    color: #848484;
			    line-height: 16px;
			    font-weight: $regular;
			    text-transform: capitalize;
			}
		}
	}
	.table{
		margin: 0;
	}
	.table thead th{
		border-bottom: none;
	    background: #383c45;
	    padding: 23px 8px 24px 30px;
	    padding-left: 40px;
	    font-size: 16px;
	    color: #fff;
	    font-weight: 500;
	    text-transform: capitalize;
	}
	.tab-content{
		.inner-box{
			border: 1px solid #eee;
		    
		}
		.table>tbody>tr{
			border-top: 1px solid #efefef;
		}
		.table>tbody>tr>td{
			padding: 22px 40px;
		    font-size: 16px;
		    color: #333;
		    position: relative;
		    text-transform: capitalize;
		}
		.table>tbody{
			.time{
				width: 240px;
				i{
					margin-right: 5px;
				}
			}
			.speakers{
				width: 290px;
				.speaker{
					position: relative;
					margin-left: 60px;
					.images-box{
						position: absolute;
					    width: 50px;
					    height: 50px;
					    top: -15px;
					    left: -60px;
					    img{
					    	border-radius: 4px;
					    }
					}
					h5{
						font-size: 16px;
					    font-weight: $regular;
					    a{
					    	color: #333;
					    	&:hover{
					    		color: $preset;
					    	}
					    }
					}
				}
			}
			.subject{
				width: 300px;
			}
			.venue{
				width: 190px;
			}
		}
	}
	.table-striped tbody tr:nth-of-type(odd){
		background: #f2f2f2;
	}
}





















