/* Pricing Ticket */
#pricing{
	.price-block-wrapper{
		border: 1px solid #ddd;
	    display: inline-block;
	    width: 100%;
	    box-shadow: 0 0 20px rgba(0,0,0,0.2);
	    .prici-left{
	    	float: left;
		    width: 190px;
		    height: 100%;
		    padding: 97px 0;
		    text-align: center;
		    .price{
		    	font-size: 48px;
    			font-weight: 700;
    			span{
    				font-size: 25px;
    				margin-right: 7px;
    			}
		    }
		    h5{
		    	font-size: 14px;
		    	margin-top: 15px;
		    	text-transform: uppercase;
		    }
	    }
	    .pricing-list{
	    	float: left;
		    padding: 30px;
		    border-left: 1px solid #ddd;
		    width: 348px;
		    h4{
		    	font-size: 16px;
			    text-transform: uppercase;
			    margin-bottom: 20px;
		    }
		    ul{
		    	margin-bottom: 15px;
		    	li{
				    padding: 0px 12px 4px 0px;
				    i{
				    	margin-right: 5px;
				    	font-size: 12px;
				    }
		    	}
		    }
	    }
	}
}