
// Preset Color Styles
@import "colors/presets";

// Global Styles
@import "global";

// Variables Styles
@import "variables";

// Navbar
@import "navbar";

// Hero Slider Area
@import "hero-slider";

// About US Area
@import "about";

// Schedule Area
@import "schedule";

// Portfolio Area
@import "portfolio";

// Service Area
@import "service";

// Team Area
@import "team";

// Testimonial Area
@import "testimonial";

// Clients Area
@import "client";

// Blog Area
@import "blog";

// Contact Area
@import "contact";

// Contact Area
@import "footer";

// About Page
@import "about-page";

// Shortcode
@import "shortcode";

// Shortcode
@import "error";

// Portfolio Details
@import "portfolio-details";

