<!DOCTYPE html>
<html lang="en">
<body>
<p>jPrime <span th:text="${branch.year}"></span> is here!</p>
<p>You will find attached to this email message your ticket for the event. Please be ready to show it on your mobile phone during registration. You can also print it if it will be more convenient for you.</p>
<p>
    The registration is open on the first day morning. We would advise you to come early.<br>
    <b>Some other information:</b><br>
    Location: <a href="https://jprime.io/venue" target="_blank">Sofia Tech Park</a><br>
    Your Name: <span th:text="${visitor.name}"></span><br>
    Your Ticket ID: <span th:text="${visitor.ticket}"></span><br>
</p>
<p>
    <img alt="logo" src="cid:ticket_qr.png" />
</p>
<p>
    The conference website: <a href="https://jprime.io" target="_blank">https://jprime.io</a><br><br>
    And finally, if for some reason you cannot come, a friend of yours or a colleague can use your ticket.
</p>
<p>See you at jPrime!<br>The Gang of 6 of the Bulgarian Java User Group</p>
</body>
</html>